html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f42b;
    color: #333;
    background-image: url('imagenes/guernica.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.titulo-principal {
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    font-weight: 1000;
    color: #efefef;
    margin-left: 20px; 
    display: inline-block;
}


.caja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.logo {
    height: 80px;
    width: auto;
}



nav ul {
    list-style: none;
    display: flex;
    margin-left: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a:hover {
    color: #e0e0e0;
    text-decoration: underline;
}



img {
    max-width: 100%;
    height: auto;
}

.ropa-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    max-width: 440px;
    border: 1px solid transparent; 
}

.item {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}

